In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

        Competitions Rank             NOC  Gold  Silver  Bronze  Total
0            Archery    1     South Korea     5       1       1      7
1            Archery    2         France*     0       1       1      2
2            Archery    3   United States     0       1       1      2
3            Archery    4           China     0       1       0      1
4            Archery    5         Germany     0       1       0      1
5            Archery    6          Mexico     0       0       1      1
6            Archery    7          Turkey     0       0       1      1
7  Artistic swimming    1           China     2       0       0      2
8  Artistic swimming    2   Great Britain     0       1       0      1
9  Artistic swimming    3   United States     0       1       0      1

In [ ]:
olympics = pd.read_csv("Olympics2024.csv")
olympics.head(10)